<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Mulai</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
      }
    </style>
  </head>

  <body>
    <div class="card">
      <h1>Dimulai dari server</h1>
    </div>
  </body>
</html>
